*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background: rgb(97,91,171);
    background: linear-gradient(135deg, rgba(97,91,171,1) 0%, rgba(105,92,254,1) 40%, rgba(77,64,231,1) 89%);
}
.home h1{
    top:10%;
    font-size:3em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.team{
    display:flex;
    text-align: center;
    justify-content: center;
    width:auto;

}
.team .team_member{
    background:white;
    margin: 5px;
    padding: 8px;
    border-radius:25px;

}
.main_home{
    position: absolute;
    top: 0;
    left: 150px;
    height: 100vh;
    width: calc(100% - 250px);
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
